@media only screen and (max-width: 360px) {
/* Height */
.ht-50,.ht-55,.ht-60,.ht-65,.ht-70,.ht-75,.ht-80,.ht-85,.ht-90.ht-95,.ht-100,.ht-105,.ht-110,.ht-115,.ht-120,.ht-125,.ht-130,.ht-135,.ht-140,.ht-145,.ht-150,.ht-155,.ht-160,.ht-165,.ht-170,.ht-175,.ht-180,.ht-185,.ht-190,.ht-195,.ht-200,.ht-205,.ht-210,.ht-215,.ht-220,.ht-225,.ht-230,.ht-235,.ht-240,.ht-245,.ht-250,.ht-255,.ht-260,.ht-265,.ht-270,.ht-275,.ht-280,.ht-285,.ht-290,.ht-295,.ht-300,.ht-305,.ht-310,.ht-315,.ht-320,.ht-325,.ht-330,.ht-335,.ht-340,.ht-345,.ht-350,.ht-355,.ht-360,.ht-365,.ht-370,.ht-375,.ht-380,.ht-385,.ht-390,.ht-395,.ht-400,.ht-405,.ht-410,.ht-415,.ht-420,.ht-425,.ht-430,.ht-435,.ht-440,.ht-445,.ht-450,.ht-455,.ht-460,.ht-465,.ht-470,.ht-475,.ht-480,.ht-485,.ht-490,.ht-495,.ht-500,.ht-505,.ht-510,.ht-515,.ht-520,.ht-525,.ht-530,.ht-535,.ht-540,.ht-545,.ht-550,.ht-555,.ht-560,.ht-565,.ht-570,.ht-575,.ht-580,.ht-585,.ht-590,.ht-595,.ht-600,.ht-605,.ht-610,.ht-615,.ht-620,.ht-625,.ht-630,.ht-635,.ht-640,.ht-645,.ht-650,.ht-655,.ht-660,.ht-665,.ht-670,.ht-675,.ht-680,.ht-685,.ht-690,.ht-695,.ht-700,.ht-705,.ht-710,.ht-715,.ht-720,.ht-725,.ht-730,.ht-735,.ht-740,.ht-745,.ht-750,.ht-755,.ht-760,.ht-765,.ht-770,.ht-775,.ht-780,.ht-785,.ht-790,.ht-795,.ht-800,.ht-805,.ht-810,.ht-815,.ht-820,.ht-825,.ht-830,.ht-835,.ht-840,.ht-845,.ht-850,.ht-855,.ht-860,.ht-865,.ht-870,.ht-875,.ht-880,.ht-885,.ht-890,.ht-895,.ht-900,.ht-905,.ht-910,.ht-915,.ht-920,.ht-925,.ht-930,.ht-935,.ht-940,.ht-945,.ht-950,.ht-955,.ht-960,.ht-965,.ht-970,.ht-975,.ht-980,.ht-985,.ht-990,.ht-995,.ht-1000,.ht-1005,.ht-1010,.ht-1015,.ht-1020,.ht-1025,.ht-1030,.ht-1035,.ht-1040,.ht-1045,.ht-1050,.ht-1055,.ht-1060,.ht-1065,.ht-1070,.ht-1075,.ht-1080,.ht-1085,.ht-1090,.ht-1095,.ht-1100,.ht-1105,.ht-1110,.ht-1115,.ht-1120,.ht-1125,.ht-1130,.ht-1135,.ht-1140,.ht-1145,.ht-1150,.ht-1155,.ht-1160,.ht-1165,.ht-1170,.ht-1175,.ht-1180,.ht-1185,.ht-1190,.ht-1195,.ht-1200 {
	height: 95%;
}
/* Minimun Height */
.mn-ht-50,.mn-ht-55,.mn-ht-60,.mn-ht-65,.mn-ht-70,.mn-ht-75,.mn-ht-80,.mn-ht-85,.mn-ht-90,.mn-ht-95,.mn-ht-100,.mn-ht-105,.mn-ht-110,.mn-ht-115,.mn-ht-120,.mn-ht-125,.mn-ht-130,.mn-ht-135,.mn-ht-140,.mn-ht-145,.mn-ht-150,.mn-ht-155,.mn-ht-160,.mn-ht-165,.mn-ht-170,.mn-ht-175,.mn-ht-180,.mn-ht-185,.mn-ht-190,.mn-ht-195,.mn-ht-200,.mn-ht-205,.mn-ht-210,.mn-ht-215,.mn-ht-220,.mn-ht-225,.mn-ht-230,.mn-ht-235,.mn-ht-240,.mn-ht-245,.mn-ht-250,.mn-ht-255,.mn-ht-260,.mn-ht-265,.mn-ht-270,.mn-ht-275,.mn-ht-280,.mn-ht-285,.mn-ht-290,.mn-ht-295,.mn-ht-300,.mn-ht-305,.mn-ht-310,.mn-ht-315,.mn-ht-320,.mn-ht-325,.mn-ht-330,.mn-ht-335,.mn-ht-340,.mn-ht-345,.mn-ht-350,.mn-ht-355,.mn-ht-360,.mn-ht-365,.mn-ht-370,.mn-ht-375,.mn-ht-380,.mn-ht-385,.mn-ht-390,.mn-ht-395,.mn-ht-400,.mn-ht-405,.mn-ht-410,.mn-ht-415,.mn-ht-420,.mn-ht-425,.mn-ht-430,.mn-ht-435,.mn-ht-440,.mn-ht-445,.mn-ht-450,.mn-ht-455,.mn-ht-460,.mn-ht-465,.mn-ht-470,.mn-ht-475,.mn-ht-480,.mn-ht-485,.mn-ht-490,.mn-ht-495,.mn-ht-500,.mn-ht-505,.mn-ht-510,.mn-ht-515,.mn-ht-520,.mn-ht-525,.mn-ht-530,.mn-ht-535,.mn-ht-540,.mn-ht-545,.mn-ht-550,.mn-ht-555,.mn-ht-560,.mn-ht-565,.mn-ht-570,.mn-ht-575,.mn-ht-580,.mn-ht-585,.mn-ht-590,.mn-ht-595,.mn-ht-600,.mn-ht-605,.mn-ht-610,.mn-ht-615,.mn-ht-620,.mn-ht-625,.mn-ht-630,.mn-ht-635,.mn-ht-640,.mn-ht-645,.mn-ht-650,.mn-ht-655,.mn-ht-660,.mn-ht-665,.mn-ht-670,.mn-ht-675,.mn-ht-680,.mn-ht-685,.mn-ht-690,.mn-ht-695,.mn-ht-700,.mn-ht-705,.mn-ht-710,.mn-ht-715,.mn-ht-720,.mn-ht-725,.mn-ht-730,.mn-ht-735,.mn-ht-740,.mn-ht-745,.mn-ht-750,.mn-ht-755,.mn-ht-760,.mn-ht-765,.mn-ht-770,.mn-ht-775,.mn-ht-780,.mn-ht-785,.mn-ht-790,.mn-ht-795,.mn-ht-800,.mn-ht-805,.mn-ht-810,.mn-ht-815,.mn-ht-820,.mn-ht-825,.mn-ht-830,.mn-ht-835,.mn-ht-840,.mn-ht-845,.mn-ht-850,.mn-ht-855,.mn-ht-860,.mn-ht-865,.mn-ht-870,.mn-ht-875,.mn-ht-880,.mn-ht-885,.mn-ht-890,.mn-ht-895,.mn-ht-900,.mn-ht-905,.mn-ht-910,.mn-ht-915,.mn-ht-920,.mn-ht-925,.mn-ht-930,.mn-ht-935,.mn-ht-940,.mn-ht-945,.mn-ht-950,.mn-ht-955,.mn-ht-960,.mn-ht-965,.mn-ht-970,.mn-ht-975,.mn-ht-980,.mn-ht-985,.mn-ht-990,.mn-ht-995,.mn-ht-1000,.mn-ht-1005,.mn-ht-1010,.mn-ht-1015,.mn-ht-1020,.mn-ht-1025,.mn-ht-1030,.mn-ht-1035,.mn-ht-1040,.mn-ht-1045,.mn-ht-1050,.mn-ht-1055,.mn-ht-1060,.mn-ht-1065,.mn-ht-1070,.mn-ht-1075,.mn-ht-1080,.mn-ht-1085,.mn-ht-1090,.mn-ht-1095,.mn-ht-1100,.mn-ht-1105,.mn-ht-1110,.mn-ht-1115,.mn-ht-1120,.mn-ht-1125,.mn-ht-1130,.mn-ht-1135,.mn-ht-1140,.mn-ht-1145,.mn-ht-1150,.mn-ht-1155,.mn-ht-1160,.mn-ht-1165,.mn-ht-1170,.mn-ht-1175,.mn-ht-1180,.mn-ht-1185,.mn-ht-1190,.mn-ht-1195,.mn-ht-1200{
	min-height: 95%;
}
/* Minimun Height */
.mx-ht-50,.mx-ht-55,.mx-ht-60,.mx-ht-65,.mx-ht-70,.mx-ht-75,.mx-ht-80,.mx-ht-85,.mx-ht-90,.mx-ht-95,.mx-ht-100,.mx-ht-105,.mx-ht-110,.mx-ht-115,.mx-ht-120,.mx-ht-125,.mx-ht-130,.mx-ht-135,.mx-ht-140,.mx-ht-145,.mx-ht-150,.mx-ht-155,.mx-ht-160,.mx-ht-165,.mx-ht-170,.mx-ht-175,.mx-ht-180,.mx-ht-185,.mx-ht-190,.mx-ht-195,.mx-ht-200,.mx-ht-205,.mx-ht-210,.mx-ht-215,.mx-ht-220,.mx-ht-225,.mx-ht-230,.mx-ht-235,.mx-ht-240,.mx-ht-245,.mx-ht-250,.mx-ht-255,.mx-ht-260,.mx-ht-265,.mx-ht-270,.mx-ht-275,.mx-ht-280,.mx-ht-285,.mx-ht-290,.mx-ht-295,.mx-ht-300,.mx-ht-305,.mx-ht-310,.mx-ht-315,.mx-ht-320,.mx-ht-325,.mx-ht-330,.mx-ht-335,.mx-ht-340,.mx-ht-345,.mx-ht-350,.mx-ht-355,.mx-ht-360,.mx-ht-365,.mx-ht-370,.mx-ht-375,.mx-ht-380,.mx-ht-385,.mx-ht-390,.mx-ht-395,.mx-ht-400,.mx-ht-405,.mx-ht-410,.mx-ht-415,.mx-ht-420,.mx-ht-425,.mx-ht-430,.mx-ht-435,.mx-ht-440,.mx-ht-445,.mx-ht-450,.mx-ht-455,.mx-ht-460,.mx-ht-465,.mx-ht-470,.mx-ht-475,.mx-ht-480,.mx-ht-485,.mx-ht-490,.mx-ht-495,.mx-ht-500,.mx-ht-505,.mx-ht-510,.mx-ht-515,.mx-ht-520,.mx-ht-525,.mx-ht-530,.mx-ht-535,.mx-ht-540,.mx-ht-545,.mx-ht-550,.mx-ht-555,.mx-ht-560,.mx-ht-565,.mx-ht-570,.mx-ht-575,.mx-ht-580,.mx-ht-585,.mx-ht-590,.mx-ht-595,.mx-ht-600,.mx-ht-605,.mx-ht-610,.mx-ht-615,.mx-ht-620,.mx-ht-625,.mx-ht-630,.mx-ht-635,.mx-ht-640,.mx-ht-645,.mx-ht-650,.mx-ht-655,.mx-ht-660,.mx-ht-665,.mx-ht-670,.mx-ht-675,.mx-ht-680,.mx-ht-685,.mx-ht-690,.mx-ht-695,.mx-ht-700,.mx-ht-705,.mx-ht-710,.mx-ht-715,.mx-ht-720,.mx-ht-725,.mx-ht-730,.mx-ht-735,.mx-ht-740,.mx-ht-745,.mx-ht-750,.mx-ht-755,.mx-ht-760,.mx-ht-765,.mx-ht-770,.mx-ht-775,.mx-ht-780,.mx-ht-785,.mx-ht-790,.mx-ht-795,.mx-ht-800,.mx-ht-805,.mx-ht-810,.mx-ht-815,.mx-ht-820,.mx-ht-825,.mx-ht-830,.mx-ht-835,.mx-ht-840,.mx-ht-845,.mx-ht-850,.mx-ht-855,.mx-ht-860,.mx-ht-865,.mx-ht-870,.mx-ht-875,.mx-ht-880,.mx-ht-885,.mx-ht-890,.mx-ht-895,.mx-ht-900,.mx-ht-905,.mx-ht-910,.mx-ht-915,.mx-ht-920,.mx-ht-925,.mx-ht-930,.mx-ht-935,.mx-ht-940,.mx-ht-945,.mx-ht-950,.mx-ht-955,.mx-ht-960,.mx-ht-965,.mx-ht-970,.mx-ht-975,.mx-ht-980,.mx-ht-985,.mx-ht-990,.mx-ht-995,.mx-ht-1000,.mx-ht-1005,.mx-ht-1010,.mx-ht-1015,.mx-ht-1020,.mx-ht-1025,.mx-ht-1030,.mx-ht-1035,.mx-ht-1040,.mx-ht-1045,.mx-ht-1050,.mx-ht-1055,.mx-ht-1060,.mx-ht-1065,.mx-ht-1070,.mx-ht-1075,.mx-ht-1080,.mx-ht-1085,.mx-ht-1090,.mx-ht-1095,.mx-ht-1100,.mx-ht-1105,.mx-ht-1110,.mx-ht-1115,.mx-ht-1120,.mx-ht-1125,.mx-ht-1130,.mx-ht-1135,.mx-ht-1140,.mx-ht-1145,.mx-ht-1150,.mx-ht-1155,.mx-ht-1160,.mx-ht-1165,.mx-ht-1170,.mx-ht-1175,.mx-ht-1180,.mx-ht-1185,.mx-ht-1190,.mx-ht-1195,.mx-ht-1200{
	min-height: 95%;
}
/* Width */
.wh-50,.wh-55,.wh-60,.wh-65,.wh-70,.wh-75,.wh-80,.wh-85,.wh-90.wh-95,.wh-100,.wh-105,.wh-110,.wh-115,.wh-120,.wh-125,.wh-130,.wh-135,.wh-140,.wh-145,.wh-150,.wh-155,.wh-160,.wh-165,.wh-170,.wh-175,.wh-180,.wh-185,.wh-190,.wh-195,.wh-200,.wh-205,.wh-210,.wh-215,.wh-220,.wh-225,.wh-230,.wh-235,.wh-240,.wh-245,.wh-250,.wh-255,.wh-260,.wh-265,.wh-270,.wh-275,.wh-280,.wh-285,.wh-290,.wh-295,.wh-300,.wh-305,.wh-310,.wh-315,.wh-320,.wh-325,.wh-330,.wh-335,.wh-340,.wh-345,.wh-350,.wh-355,.wh-360,.wh-365,.wh-370,.wh-375,.wh-380,.wh-385,.wh-390,.wh-395,.wh-400,.wh-405,.wh-410,.wh-415,.wh-420,.wh-425,.wh-430,.wh-435,.wh-440,.wh-445,.wh-450,.wh-455,.wh-460,.wh-465,.wh-470,.wh-475,.wh-480,.wh-485,.wh-490,.wh-495,.wh-500,.wh-505,.wh-510,.wh-515,.wh-520,.wh-525,.wh-530,.wh-535,.wh-540,.wh-545,.wh-550,.wh-555,.wh-560,.wh-565,.wh-570,.wh-575,.wh-580,.wh-585,.wh-590,.wh-595,.wh-600,.wh-605,.wh-610,.wh-615,.wh-620,.wh-625,.wh-630,.wh-635,.wh-640,.wh-645,.wh-650,.wh-655,.wh-660,.wh-665,.wh-670,.wh-675,.wh-680,.wh-685,.wh-690,.wh-695,.wh-700,.wh-705,.wh-710,.wh-715,.wh-720,.wh-725,.wh-730,.wh-735,.wh-740,.wh-745,.wh-750,.wh-755,.wh-760,.wh-765,.wh-770,.wh-775,.wh-780,.wh-785,.wh-790,.wh-795,.wh-800,.wh-805,.wh-810,.wh-815,.wh-820,.wh-825,.wh-830,.wh-835,.wh-840,.wh-845,.wh-850,.wh-855,.wh-860,.wh-865,.wh-870,.wh-875,.wh-880,.wh-885,.wh-890,.wh-895,.wh-900,.wh-905,.wh-910,.wh-915,.wh-920,.wh-925,.wh-930,.wh-935,.wh-940,.wh-945,.wh-950,.wh-955,.wh-960,.wh-965,.wh-970,.wh-975,.wh-980,.wh-985,.wh-990,.wh-995,.wh-1000,.wh-1005,.wh-1010,.wh-1015,.wh-1020,.wh-1025,.wh-1030,.wh-1035,.wh-1040,.wh-1045,.wh-1050,.wh-1055,.wh-1060,.wh-1065,.wh-1070,.wh-1075,.wh-1080,.wh-1085,.wh-1090,.wh-1095,.wh-1100,.wh-1105,.wh-1110,.wh-1115,.wh-1120,.wh-1125,.wh-1130,.wh-1135,.wh-1140,.wh-1145,.wh-1150,.wh-1155,.wh-1160,.wh-1165,.wh-1170,.wh-1175,.wh-1180,.wh-1185,.wh-1190,.wh-1195,.wh-1200 {
	width: 95%;
}
/* Minimun Width */
.mn-wh-50,.mn-wh-55,.mn-wh-60,.mn-wh-65,.mn-wh-70,.mn-wh-75,.mn-wh-80,.mn-wh-85,.mn-wh-90,.mn-wh-95,.mn-wh-100,.mn-wh-105,.mn-wh-110,.mn-wh-115,.mn-wh-120,.mn-wh-125,.mn-wh-130,.mn-wh-135,.mn-wh-140,.mn-wh-145,.mn-wh-150,.mn-wh-155,.mn-wh-160,.mn-wh-165,.mn-wh-170,.mn-wh-175,.mn-wh-180,.mn-wh-185,.mn-wh-190,.mn-wh-195,.mn-wh-200,.mn-wh-205,.mn-wh-210,.mn-wh-215,.mn-wh-220,.mn-wh-225,.mn-wh-230,.mn-wh-235,.mn-wh-240,.mn-wh-245,.mn-wh-250,.mn-wh-255,.mn-wh-260,.mn-wh-265,.mn-wh-270,.mn-wh-275,.mn-wh-280,.mn-wh-285,.mn-wh-290,.mn-wh-295,.mn-wh-300,.mn-wh-305,.mn-wh-310,.mn-wh-315,.mn-wh-320,.mn-wh-325,.mn-wh-330,.mn-wh-335,.mn-wh-340,.mn-wh-345,.mn-wh-350,.mn-wh-355,.mn-wh-360,.mn-wh-365,.mn-wh-370,.mn-wh-375,.mn-wh-380,.mn-wh-385,.mn-wh-390,.mn-wh-395,.mn-wh-400,.mn-wh-405,.mn-wh-410,.mn-wh-415,.mn-wh-420,.mn-wh-425,.mn-wh-430,.mn-wh-435,.mn-wh-440,.mn-wh-445,.mn-wh-450,.mn-wh-455,.mn-wh-460,.mn-wh-465,.mn-wh-470,.mn-wh-475,.mn-wh-480,.mn-wh-485,.mn-wh-490,.mn-wh-495,.mn-wh-500,.mn-wh-505,.mn-wh-510,.mn-wh-515,.mn-wh-520,.mn-wh-525,.mn-wh-530,.mn-wh-535,.mn-wh-540,.mn-wh-545,.mn-wh-550,.mn-wh-555,.mn-wh-560,.mn-wh-565,.mn-wh-570,.mn-wh-575,.mn-wh-580,.mn-wh-585,.mn-wh-590,.mn-wh-595,.mn-wh-600,.mn-wh-605,.mn-wh-610,.mn-wh-615,.mn-wh-620,.mn-wh-625,.mn-wh-630,.mn-wh-635,.mn-wh-640,.mn-wh-645,.mn-wh-650,.mn-wh-655,.mn-wh-660,.mn-wh-665,.mn-wh-670,.mn-wh-675,.mn-wh-680,.mn-wh-685,.mn-wh-690,.mn-wh-695,.mn-wh-700,.mn-wh-705,.mn-wh-710,.mn-wh-715,.mn-wh-720,.mn-wh-725,.mn-wh-730,.mn-wh-735,.mn-wh-740,.mn-wh-745,.mn-wh-750,.mn-wh-755,.mn-wh-760,.mn-wh-765,.mn-wh-770,.mn-wh-775,.mn-wh-780,.mn-wh-785,.mn-wh-790,.mn-wh-795,.mn-wh-800,.mn-wh-805,.mn-wh-810,.mn-wh-815,.mn-wh-820,.mn-wh-825,.mn-wh-830,.mn-wh-835,.mn-wh-840,.mn-wh-845,.mn-wh-850,.mn-wh-855,.mn-wh-860,.mn-wh-865,.mn-wh-870,.mn-wh-875,.mn-wh-880,.mn-wh-885,.mn-wh-890,.mn-wh-895,.mn-wh-900,.mn-wh-905,.mn-wh-910,.mn-wh-915,.mn-wh-920,.mn-wh-925,.mn-wh-930,.mn-wh-935,.mn-wh-940,.mn-wh-945,.mn-wh-950,.mn-wh-955,.mn-wh-960,.mn-wh-965,.mn-wh-970,.mn-wh-975,.mn-wh-980,.mn-wh-985,.mn-wh-990,.mn-wh-995,.mn-wh-1000,.mn-wh-1005,.mn-wh-1010,.mn-wh-1015,.mn-wh-1020,.mn-wh-1025,.mn-wh-1030,.mn-wh-1035,.mn-wh-1040,.mn-wh-1045,.mn-wh-1050,.mn-wh-1055,.mn-wh-1060,.mn-wh-1065,.mn-wh-1070,.mn-wh-1075,.mn-wh-1080,.mn-wh-1085,.mn-wh-1090,.mn-wh-1095,.mn-wh-1100,.mn-wh-1105,.mn-wh-1110,.mn-wh-1115,.mn-wh-1120,.mn-wh-1125,.mn-wh-1130,.mn-wh-1135,.mn-wh-1140,.mn-wh-1145,.mn-wh-1150,.mn-wh-1155,.mn-wh-1160,.mn-wh-1165,.mn-wh-1170,.mn-wh-1175,.mn-wh-1180,.mn-wh-1185,.mn-wh-1190,.mn-wh-1195,.mn-wh-1200{
	min-width: 95%;
}
/* Minimun Width */
.mx-wh-50,.mx-wh-55,.mx-wh-60,.mx-wh-65,.mx-wh-70,.mx-wh-75,.mx-wh-80,.mx-wh-85,.mx-wh-90,.mx-wh-95,.mx-wh-100,.mx-wh-105,.mx-wh-110,.mx-wh-115,.mx-wh-120,.mx-wh-125,.mx-wh-130,.mx-wh-135,.mx-wh-140,.mx-wh-145,.mx-wh-150,.mx-wh-155,.mx-wh-160,.mx-wh-165,.mx-wh-170,.mx-wh-175,.mx-wh-180,.mx-wh-185,.mx-wh-190,.mx-wh-195,.mx-wh-200,.mx-wh-205,.mx-wh-210,.mx-wh-215,.mx-wh-220,.mx-wh-225,.mx-wh-230,.mx-wh-235,.mx-wh-240,.mx-wh-245,.mx-wh-250,.mx-wh-255,.mx-wh-260,.mx-wh-265,.mx-wh-270,.mx-wh-275,.mx-wh-280,.mx-wh-285,.mx-wh-290,.mx-wh-295,.mx-wh-300,.mx-wh-305,.mx-wh-310,.mx-wh-315,.mx-wh-320,.mx-wh-325,.mx-wh-330,.mx-wh-335,.mx-wh-340,.mx-wh-345,.mx-wh-350,.mx-wh-355,.mx-wh-360,.mx-wh-365,.mx-wh-370,.mx-wh-375,.mx-wh-380,.mx-wh-385,.mx-wh-390,.mx-wh-395,.mx-wh-400,.mx-wh-405,.mx-wh-410,.mx-wh-415,.mx-wh-420,.mx-wh-425,.mx-wh-430,.mx-wh-435,.mx-wh-440,.mx-wh-445,.mx-wh-450,.mx-wh-455,.mx-wh-460,.mx-wh-465,.mx-wh-470,.mx-wh-475,.mx-wh-480,.mx-wh-485,.mx-wh-490,.mx-wh-495,.mx-wh-500,.mx-wh-505,.mx-wh-510,.mx-wh-515,.mx-wh-520,.mx-wh-525,.mx-wh-530,.mx-wh-535,.mx-wh-540,.mx-wh-545,.mx-wh-550,.mx-wh-555,.mx-wh-560,.mx-wh-565,.mx-wh-570,.mx-wh-575,.mx-wh-580,.mx-wh-585,.mx-wh-590,.mx-wh-595,.mx-wh-600,.mx-wh-605,.mx-wh-610,.mx-wh-615,.mx-wh-620,.mx-wh-625,.mx-wh-630,.mx-wh-635,.mx-wh-640,.mx-wh-645,.mx-wh-650,.mx-wh-655,.mx-wh-660,.mx-wh-665,.mx-wh-670,.mx-wh-675,.mx-wh-680,.mx-wh-685,.mx-wh-690,.mx-wh-695,.mx-wh-700,.mx-wh-705,.mx-wh-710,.mx-wh-715,.mx-wh-720,.mx-wh-725,.mx-wh-730,.mx-wh-735,.mx-wh-740,.mx-wh-745,.mx-wh-750,.mx-wh-755,.mx-wh-760,.mx-wh-765,.mx-wh-770,.mx-wh-775,.mx-wh-780,.mx-wh-785,.mx-wh-790,.mx-wh-795,.mx-wh-800,.mx-wh-805,.mx-wh-810,.mx-wh-815,.mx-wh-820,.mx-wh-825,.mx-wh-830,.mx-wh-835,.mx-wh-840,.mx-wh-845,.mx-wh-850,.mx-wh-855,.mx-wh-860,.mx-wh-865,.mx-wh-870,.mx-wh-875,.mx-wh-880,.mx-wh-885,.mx-wh-890,.mx-wh-895,.mx-wh-900,.mx-wh-905,.mx-wh-910,.mx-wh-915,.mx-wh-920,.mx-wh-925,.mx-wh-930,.mx-wh-935,.mx-wh-940,.mx-wh-945,.mx-wh-950,.mx-wh-955,.mx-wh-960,.mx-wh-965,.mx-wh-970,.mx-wh-975,.mx-wh-980,.mx-wh-985,.mx-wh-990,.mx-wh-995,.mx-wh-1000,.mx-wh-1005,.mx-wh-1010,.mx-wh-1015,.mx-wh-1020,.mx-wh-1025,.mx-wh-1030,.mx-wh-1035,.mx-wh-1040,.mx-wh-1045,.mx-wh-1050,.mx-wh-1055,.mx-wh-1060,.mx-wh-1065,.mx-wh-1070,.mx-wh-1075,.mx-wh-1080,.mx-wh-1085,.mx-wh-1090,.mx-wh-1095,.mx-wh-1100,.mx-wh-1105,.mx-wh-1110,.mx-wh-1115,.mx-wh-1120,.mx-wh-1125,.mx-wh-1130,.mx-wh-1135,.mx-wh-1140,.mx-wh-1145,.mx-wh-1150,.mx-wh-1155,.mx-wh-1160,.mx-wh-1165,.mx-wh-1170,.mx-wh-1175,.mx-wh-1180,.mx-wh-1185,.mx-wh-1190,.mx-wh-1195,.mx-wh-1200{
	min-height: 95%;
}

/* Height */
.sdm-ht-a {height: auto;}
.sdm-ht-p10{height: 10%;}
.sdm-ht-p20{height: 20%;}
.sdm-ht-p30{height: 30%;}
.sdm-ht-p40{height: 40%;}
.sdm-ht-p50{height: 50%;}
.sdm-ht-p60{height: 60%;}
.sdm-ht-p70{height: 70%;}
.sdm-ht-p80{height: 80%;}
.sdm-ht-p90{height: 90%;}
.sdm-ht-p100{height: 100%;}
.sdm-ht-50{height: 50px !important}
.sdm-ht-55{height: 55px !important}
.sdm-ht-60{height: 60px !important}
.sdm-ht-65{height: 65px !important}
.sdm-ht-70{height: 70px !important}
.sdm-ht-75{height: 75px !important}
.sdm-ht-80{height: 80px !important}
.sdm-ht-85{height: 85px !important}
.sdm-ht-90{height: 90px !important}
.sdm-ht-95{height: 95px !important}
.sdm-ht-100{height: 100px !important}
.sdm-ht-105{height: 105px !important}
.sdm-ht-110{height: 110px !important}
.sdm-ht-115{height: 115px !important}
.sdm-ht-120{height: 120px !important}
.sdm-ht-125{height: 125px !important}
.sdm-ht-130{height: 130px !important}
.sdm-ht-135{height: 135px !important}
.sdm-ht-140{height: 140px !important}
.sdm-ht-145{height: 145px !important}
.sdm-ht-150{height: 150px !important}
.sdm-ht-155{height: 155px !important}
.sdm-ht-160{height: 160px !important}
.sdm-ht-165{height: 165px !important}
.sdm-ht-170{height: 170px !important}
.sdm-ht-175{height: 175px !important}
.sdm-ht-180{height: 180px !important}
.sdm-ht-185{height: 185px !important}
.sdm-ht-190{height: 190px !important}
.sdm-ht-195{height: 195px !important}
.sdm-ht-200{height: 200px !important}
.sdm-ht-205{height: 205px !important}
.sdm-ht-210{height: 210px !important}
.sdm-ht-215{height: 215px !important}
.sdm-ht-220{height: 220px !important}
.sdm-ht-225{height: 225px !important}
.sdm-ht-230{height: 230px !important}
.sdm-ht-235{height: 235px !important}
.sdm-ht-240{height: 240px !important}
.sdm-ht-245{height: 245px !important}
.sdm-ht-250{height: 250px !important}
.sdm-ht-255{height: 255px !important}
.sdm-ht-260{height: 260px !important}
.sdm-ht-265{height: 265px !important}
.sdm-ht-270{height: 270px !important}
.sdm-ht-275{height: 275px !important}
.sdm-ht-280{height: 280px !important}
.sdm-ht-285{height: 285px !important}
.sdm-ht-290{height: 290px !important}
.sdm-ht-295{height: 295px !important}
.sdm-ht-300{height: 300px !important}
.sdm-ht-305{height: 305px !important}
.sdm-ht-310{height: 310px !important}
.sdm-ht-315{height: 315px !important}
.sdm-ht-320{height: 320px !important}
.sdm-ht-325{height: 325px !important}
.sdm-ht-330{height: 330px !important}
.sdm-ht-335{height: 335px !important}
.sdm-ht-340{height: 340px !important}
.sdm-ht-345{height: 345px !important}
.sdm-ht-350{height: 350px !important}
.sdm-ht-355{height: 355px !important}
.sdm-ht-360{height: 360px !important}
.sdm-ht-365{height: 365px !important}
.sdm-ht-370{height: 370px !important}
.sdm-ht-375{height: 375px !important}
.sdm-ht-380{height: 380px !important}
.sdm-ht-385{height: 385px !important}
.sdm-ht-390{height: 390px !important}
.sdm-ht-395{height: 395px !important}
.sdm-ht-400{height: 400px !important}
.sdm-ht-405{height: 405px !important}
.sdm-ht-410{height: 410px !important}
.sdm-ht-415{height: 415px !important}
.sdm-ht-420{height: 420px !important}
.sdm-ht-425{height: 425px !important}
.sdm-ht-430{height: 430px !important}
.sdm-ht-435{height: 435px !important}
.sdm-ht-440{height: 440px !important}
.sdm-ht-445{height: 445px !important}
.sdm-ht-450{height: 450px !important}
.sdm-ht-455{height: 455px !important}
.sdm-ht-460{height: 460px !important}
.sdm-ht-465{height: 465px !important}
.sdm-ht-470{height: 470px !important}
.sdm-ht-475{height: 475px !important}
.sdm-ht-480{height: 480px !important}
.sdm-ht-485{height: 485px !important}
.sdm-ht-490{height: 490px !important}
.sdm-ht-495{height: 495px !important}
.sdm-ht-500{height: 500px !important}
.sdm-ht-505{height: 505px !important}
.sdm-ht-510{height: 510px !important}
.sdm-ht-515{height: 515px !important}
.sdm-ht-520{height: 520px !important}
.sdm-ht-525{height: 525px !important}
.sdm-ht-530{height: 530px !important}
.sdm-ht-535{height: 535px !important}
.sdm-ht-540{height: 540px !important}
.sdm-ht-545{height: 545px !important}
.sdm-ht-550{height: 550px !important}
.sdm-ht-555{height: 555px !important}
.sdm-ht-560{height: 560px !important}
.sdm-ht-565{height: 565px !important}
.sdm-ht-570{height: 570px !important}
.sdm-ht-575{height: 575px !important}
.sdm-ht-580{height: 580px !important}
.sdm-ht-585{height: 585px !important}
.sdm-ht-590{height: 590px !important}
.sdm-ht-595{height: 595px !important}
.sdm-ht-600{height: 600px !important}
.sdm-ht-605{height: 605px !important}
.sdm-ht-610{height: 610px !important}
.sdm-ht-615{height: 615px !important}
.sdm-ht-620{height: 620px !important}
.sdm-ht-625{height: 625px !important}
.sdm-ht-630{height: 630px !important}
.sdm-ht-635{height: 635px !important}
.sdm-ht-640{height: 640px !important}
.sdm-ht-645{height: 645px !important}
.sdm-ht-650{height: 650px !important}
.sdm-ht-655{height: 655px !important}
.sdm-ht-660{height: 660px !important}
.sdm-ht-665{height: 665px !important}
.sdm-ht-670{height: 670px !important}
.sdm-ht-675{height: 675px !important}
.sdm-ht-680{height: 680px !important}
.sdm-ht-685{height: 685px !important}
.sdm-ht-690{height: 690px !important}
.sdm-ht-695{height: 695px !important}
.sdm-ht-700{height: 700px !important}
.sdm-ht-705{height: 705px !important}
.sdm-ht-710{height: 710px !important}
.sdm-ht-715{height: 715px !important}
.sdm-ht-720{height: 720px !important}
.sdm-ht-725{height: 725px !important}
.sdm-ht-730{height: 730px !important}
.sdm-ht-735{height: 735px !important}
.sdm-ht-740{height: 740px !important}
.sdm-ht-745{height: 745px !important}
.sdm-ht-750{height: 750px !important}
.sdm-ht-755{height: 755px !important}
.sdm-ht-760{height: 760px !important}
.sdm-ht-765{height: 765px !important}
.sdm-ht-770{height: 770px !important}
.sdm-ht-775{height: 775px !important}
.sdm-ht-780{height: 780px !important}
.sdm-ht-785{height: 785px !important}
.sdm-ht-790{height: 790px !important}
.sdm-ht-795{height: 795px !important}
.sdm-ht-800{height: 800px !important}
.sdm-ht-805{height: 805px !important}
.sdm-ht-810{height: 810px !important}
.sdm-ht-815{height: 815px !important}
.sdm-ht-820{height: 820px !important}
.sdm-ht-825{height: 825px !important}
.sdm-ht-830{height: 830px !important}
.sdm-ht-835{height: 835px !important}
.sdm-ht-840{height: 840px !important}
.sdm-ht-845{height: 845px !important}
.sdm-ht-850{height: 850px !important}
.sdm-ht-855{height: 855px !important}
.sdm-ht-860{height: 860px !important}
.sdm-ht-865{height: 865px !important}
.sdm-ht-870{height: 870px !important}
.sdm-ht-875{height: 875px !important}
.sdm-ht-880{height: 880px !important}
.sdm-ht-885{height: 885px !important}
.sdm-ht-890{height: 890px !important}
.sdm-ht-895{height: 895px !important}
.sdm-ht-900{height: 900px !important}
.sdm-ht-905{height: 905px !important}
.sdm-ht-910{height: 910px !important}
.sdm-ht-915{height: 915px !important}
.sdm-ht-920{height: 920px !important}
.sdm-ht-925{height: 925px !important}
.sdm-ht-930{height: 930px !important}
.sdm-ht-935{height: 935px !important}
.sdm-ht-940{height: 940px !important}
.sdm-ht-945{height: 945px !important}
.sdm-ht-950{height: 950px !important}
.sdm-ht-955{height: 955px !important}
.sdm-ht-960{height: 960px !important}
.sdm-ht-965{height: 965px !important}
.sdm-ht-970{height: 970px !important}
.sdm-ht-975{height: 975px !important}
.sdm-ht-980{height: 980px !important}
.sdm-ht-985{height: 985px !important}
.sdm-ht-990{height: 990px !important}
.sdm-ht-995{height: 995px !important}
.sdm-ht-1000{height: 1000px !important}
.sdm-ht-1005{height: 1005px !important}
.sdm-ht-1010{height: 1010px !important}
.sdm-ht-1015{height: 1015px !important}
.sdm-ht-1020{height: 1020px !important}
.sdm-ht-1025{height: 1025px !important}
.sdm-ht-1030{height: 1030px !important}
.sdm-ht-1035{height: 1035px !important}
.sdm-ht-1040{height: 1040px !important}
.sdm-ht-1045{height: 1045px !important}
.sdm-ht-1050{height: 1050px !important}
.sdm-ht-1055{height: 1055px !important}
.sdm-ht-1060{height: 1060px !important}
.sdm-ht-1065{height: 1065px !important}
.sdm-ht-1070{height: 1070px !important}
.sdm-ht-1075{height: 1075px !important}
.sdm-ht-1080{height: 1080px !important}
.sdm-ht-1085{height: 1085px !important}
.sdm-ht-1090{height: 1090px !important}
.sdm-ht-1095{height: 1095px !important}
.sdm-ht-1100{height: 1100px !important}
.sdm-ht-1105{height: 1105px !important}
.sdm-ht-1110{height: 1110px !important}
.sdm-ht-1115{height: 1115px !important}
.sdm-ht-1120{height: 1120px !important}
.sdm-ht-1125{height: 1125px !important}
.sdm-ht-1130{height: 1130px !important}
.sdm-ht-1135{height: 1135px !important}
.sdm-ht-1140{height: 1140px !important}
.sdm-ht-1145{height: 1145px !important}
.sdm-ht-1150{height: 1150px !important}
.sdm-ht-1155{height: 1155px !important}
.sdm-ht-1160{height: 1160px !important}
.sdm-ht-1165{height: 1165px !important}
.sdm-ht-1170{height: 1170px !important}
.sdm-ht-1175{height: 1175px !important}
.sdm-ht-1180{height: 1180px !important}
.sdm-ht-1185{height: 1185px !important}
.sdm-ht-1190{height: 1190px !important}
.sdm-ht-1195{height: 1195px !important}
.sdm-ht-1200{height: 1200px !important}

/* Minimun Height */
.sdm-mn-ht-a {min-height: auto;}
.sdm-mn-ht-p10{min-height: 10%;}
.sdm-mn-ht-p20{min-height: 20%;}
.sdm-mn-ht-p30{min-height: 30%;}
.sdm-mn-ht-p40{min-height: 40%;}
.sdm-mn-ht-p50{min-height: 50%;}
.sdm-mn-ht-p60{min-height: 60%;}
.sdm-mn-ht-p70{min-height: 70%;}
.sdm-mn-ht-p80{min-height: 80%;}
.sdm-mn-ht-p90{min-height: 90%;}
.sdm-mn-ht-p100{min-height: 100%;}
.sdm-mn-ht-50{min-height: 50px !important}
.sdm-mn-ht-55{min-height: 55px !important}
.sdm-mn-ht-60{min-height: 60px !important}
.sdm-mn-ht-65{min-height: 65px !important}
.sdm-mn-ht-70{min-height: 70px !important}
.sdm-mn-ht-75{min-height: 75px !important}
.sdm-mn-ht-80{min-height: 80px !important}
.sdm-mn-ht-85{min-height: 85px !important}
.sdm-mn-ht-90{min-height: 90px !important}
.sdm-mn-ht-95{min-height: 95px !important}
.sdm-mn-ht-100{min-height: 100px !important}
.sdm-mn-ht-105{min-height: 105px !important}
.sdm-mn-ht-110{min-height: 110px !important}
.sdm-mn-ht-115{min-height: 115px !important}
.sdm-mn-ht-120{min-height: 120px !important}
.sdm-mn-ht-125{min-height: 125px !important}
.sdm-mn-ht-130{min-height: 130px !important}
.sdm-mn-ht-135{min-height: 135px !important}
.sdm-mn-ht-140{min-height: 140px !important}
.sdm-mn-ht-145{min-height: 145px !important}
.sdm-mn-ht-150{min-height: 150px !important}
.sdm-mn-ht-155{min-height: 155px !important}
.sdm-mn-ht-160{min-height: 160px !important}
.sdm-mn-ht-165{min-height: 165px !important}
.sdm-mn-ht-170{min-height: 170px !important}
.sdm-mn-ht-175{min-height: 175px !important}
.sdm-mn-ht-180{min-height: 180px !important}
.sdm-mn-ht-185{min-height: 185px !important}
.sdm-mn-ht-190{min-height: 190px !important}
.sdm-mn-ht-195{min-height: 195px !important}
.sdm-mn-ht-200{min-height: 200px !important}
.sdm-mn-ht-205{min-height: 205px !important}
.sdm-mn-ht-210{min-height: 210px !important}
.sdm-mn-ht-215{min-height: 215px !important}
.sdm-mn-ht-220{min-height: 220px !important}
.sdm-mn-ht-225{min-height: 225px !important}
.sdm-mn-ht-230{min-height: 230px !important}
.sdm-mn-ht-235{min-height: 235px !important}
.sdm-mn-ht-240{min-height: 240px !important}
.sdm-mn-ht-245{min-height: 245px !important}
.sdm-mn-ht-250{min-height: 250px !important}
.sdm-mn-ht-255{min-height: 255px !important}
.sdm-mn-ht-260{min-height: 260px !important}
.sdm-mn-ht-265{min-height: 265px !important}
.sdm-mn-ht-270{min-height: 270px !important}
.sdm-mn-ht-275{min-height: 275px !important}
.sdm-mn-ht-280{min-height: 280px !important}
.sdm-mn-ht-285{min-height: 285px !important}
.sdm-mn-ht-290{min-height: 290px !important}
.sdm-mn-ht-295{min-height: 295px !important}
.sdm-mn-ht-300{min-height: 300px !important}
.sdm-mn-ht-305{min-height: 305px !important}
.sdm-mn-ht-310{min-height: 310px !important}
.sdm-mn-ht-315{min-height: 315px !important}
.sdm-mn-ht-320{min-height: 320px !important}
.sdm-mn-ht-325{min-height: 325px !important}
.sdm-mn-ht-330{min-height: 330px !important}
.sdm-mn-ht-335{min-height: 335px !important}
.sdm-mn-ht-340{min-height: 340px !important}
.sdm-mn-ht-345{min-height: 345px !important}
.sdm-mn-ht-350{min-height: 350px !important}
.sdm-mn-ht-355{min-height: 355px !important}
.sdm-mn-ht-360{min-height: 360px !important}
.sdm-mn-ht-365{min-height: 365px !important}
.sdm-mn-ht-370{min-height: 370px !important}
.sdm-mn-ht-375{min-height: 375px !important}
.sdm-mn-ht-380{min-height: 380px !important}
.sdm-mn-ht-385{min-height: 385px !important}
.sdm-mn-ht-390{min-height: 390px !important}
.sdm-mn-ht-395{min-height: 395px !important}
.sdm-mn-ht-400{min-height: 400px !important}
.sdm-mn-ht-405{min-height: 405px !important}
.sdm-mn-ht-410{min-height: 410px !important}
.sdm-mn-ht-415{min-height: 415px !important}
.sdm-mn-ht-420{min-height: 420px !important}
.sdm-mn-ht-425{min-height: 425px !important}
.sdm-mn-ht-430{min-height: 430px !important}
.sdm-mn-ht-435{min-height: 435px !important}
.sdm-mn-ht-440{min-height: 440px !important}
.sdm-mn-ht-445{min-height: 445px !important}
.sdm-mn-ht-450{min-height: 450px !important}
.sdm-mn-ht-455{min-height: 455px !important}
.sdm-mn-ht-460{min-height: 460px !important}
.sdm-mn-ht-465{min-height: 465px !important}
.sdm-mn-ht-470{min-height: 470px !important}
.sdm-mn-ht-475{min-height: 475px !important}
.sdm-mn-ht-480{min-height: 480px !important}
.sdm-mn-ht-485{min-height: 485px !important}
.sdm-mn-ht-490{min-height: 490px !important}
.sdm-mn-ht-495{min-height: 495px !important}
.sdm-mn-ht-500{min-height: 500px !important}
.sdm-mn-ht-505{min-height: 505px !important}
.sdm-mn-ht-510{min-height: 510px !important}
.sdm-mn-ht-515{min-height: 515px !important}
.sdm-mn-ht-520{min-height: 520px !important}
.sdm-mn-ht-525{min-height: 525px !important}
.sdm-mn-ht-530{min-height: 530px !important}
.sdm-mn-ht-535{min-height: 535px !important}
.sdm-mn-ht-540{min-height: 540px !important}
.sdm-mn-ht-545{min-height: 545px !important}
.sdm-mn-ht-550{min-height: 550px !important}
.sdm-mn-ht-555{min-height: 555px !important}
.sdm-mn-ht-560{min-height: 560px !important}
.sdm-mn-ht-565{min-height: 565px !important}
.sdm-mn-ht-570{min-height: 570px !important}
.sdm-mn-ht-575{min-height: 575px !important}
.sdm-mn-ht-580{min-height: 580px !important}
.sdm-mn-ht-585{min-height: 585px !important}
.sdm-mn-ht-590{min-height: 590px !important}
.sdm-mn-ht-595{min-height: 595px !important}
.sdm-mn-ht-600{min-height: 600px !important}
.sdm-mn-ht-605{min-height: 605px !important}
.sdm-mn-ht-610{min-height: 610px !important}
.sdm-mn-ht-615{min-height: 615px !important}
.sdm-mn-ht-620{min-height: 620px !important}
.sdm-mn-ht-625{min-height: 625px !important}
.sdm-mn-ht-630{min-height: 630px !important}
.sdm-mn-ht-635{min-height: 635px !important}
.sdm-mn-ht-640{min-height: 640px !important}
.sdm-mn-ht-645{min-height: 645px !important}
.sdm-mn-ht-650{min-height: 650px !important}
.sdm-mn-ht-655{min-height: 655px !important}
.sdm-mn-ht-660{min-height: 660px !important}
.sdm-mn-ht-665{min-height: 665px !important}
.sdm-mn-ht-670{min-height: 670px !important}
.sdm-mn-ht-675{min-height: 675px !important}
.sdm-mn-ht-680{min-height: 680px !important}
.sdm-mn-ht-685{min-height: 685px !important}
.sdm-mn-ht-690{min-height: 690px !important}
.sdm-mn-ht-695{min-height: 695px !important}
.sdm-mn-ht-700{min-height: 700px !important}
.sdm-mn-ht-705{min-height: 705px !important}
.sdm-mn-ht-710{min-height: 710px !important}
.sdm-mn-ht-715{min-height: 715px !important}
.sdm-mn-ht-720{min-height: 720px !important}
.sdm-mn-ht-725{min-height: 725px !important}
.sdm-mn-ht-730{min-height: 730px !important}
.sdm-mn-ht-735{min-height: 735px !important}
.sdm-mn-ht-740{min-height: 740px !important}
.sdm-mn-ht-745{min-height: 745px !important}
.sdm-mn-ht-750{min-height: 750px !important}
.sdm-mn-ht-755{min-height: 755px !important}
.sdm-mn-ht-760{min-height: 760px !important}
.sdm-mn-ht-765{min-height: 765px !important}
.sdm-mn-ht-770{min-height: 770px !important}
.sdm-mn-ht-775{min-height: 775px !important}
.sdm-mn-ht-780{min-height: 780px !important}
.sdm-mn-ht-785{min-height: 785px !important}
.sdm-mn-ht-790{min-height: 790px !important}
.sdm-mn-ht-795{min-height: 795px !important}
.sdm-mn-ht-800{min-height: 800px !important}
.sdm-mn-ht-805{min-height: 805px !important}
.sdm-mn-ht-810{min-height: 810px !important}
.sdm-mn-ht-815{min-height: 815px !important}
.sdm-mn-ht-820{min-height: 820px !important}
.sdm-mn-ht-825{min-height: 825px !important}
.sdm-mn-ht-830{min-height: 830px !important}
.sdm-mn-ht-835{min-height: 835px !important}
.sdm-mn-ht-840{min-height: 840px !important}
.sdm-mn-ht-845{min-height: 845px !important}
.sdm-mn-ht-850{min-height: 850px !important}
.sdm-mn-ht-855{min-height: 855px !important}
.sdm-mn-ht-860{min-height: 860px !important}
.sdm-mn-ht-865{min-height: 865px !important}
.sdm-mn-ht-870{min-height: 870px !important}
.sdm-mn-ht-875{min-height: 875px !important}
.sdm-mn-ht-880{min-height: 880px !important}
.sdm-mn-ht-885{min-height: 885px !important}
.sdm-mn-ht-890{min-height: 890px !important}
.sdm-mn-ht-895{min-height: 895px !important}
.sdm-mn-ht-900{min-height: 900px !important}
.sdm-mn-ht-905{min-height: 905px !important}
.sdm-mn-ht-910{min-height: 910px !important}
.sdm-mn-ht-915{min-height: 915px !important}
.sdm-mn-ht-920{min-height: 920px !important}
.sdm-mn-ht-925{min-height: 925px !important}
.sdm-mn-ht-930{min-height: 930px !important}
.sdm-mn-ht-935{min-height: 935px !important}
.sdm-mn-ht-940{min-height: 940px !important}
.sdm-mn-ht-945{min-height: 945px !important}
.sdm-mn-ht-950{min-height: 950px !important}
.sdm-mn-ht-955{min-height: 955px !important}
.sdm-mn-ht-960{min-height: 960px !important}
.sdm-mn-ht-965{min-height: 965px !important}
.sdm-mn-ht-970{min-height: 970px !important}
.sdm-mn-ht-975{min-height: 975px !important}
.sdm-mn-ht-980{min-height: 980px !important}
.sdm-mn-ht-985{min-height: 985px !important}
.sdm-mn-ht-990{min-height: 990px !important}
.sdm-mn-ht-995{min-height: 995px !important}
.sdm-mn-ht-1000{min-height: 1000px !important}
.sdm-mn-ht-1005{min-height: 1005px !important}
.sdm-mn-ht-1010{min-height: 1010px !important}
.sdm-mn-ht-1015{min-height: 1015px !important}
.sdm-mn-ht-1020{min-height: 1020px !important}
.sdm-mn-ht-1025{min-height: 1025px !important}
.sdm-mn-ht-1030{min-height: 1030px !important}
.sdm-mn-ht-1035{min-height: 1035px !important}
.sdm-mn-ht-1040{min-height: 1040px !important}
.sdm-mn-ht-1045{min-height: 1045px !important}
.sdm-mn-ht-1050{min-height: 1050px !important}
.sdm-mn-ht-1055{min-height: 1055px !important}
.sdm-mn-ht-1060{min-height: 1060px !important}
.sdm-mn-ht-1065{min-height: 1065px !important}
.sdm-mn-ht-1070{min-height: 1070px !important}
.sdm-mn-ht-1075{min-height: 1075px !important}
.sdm-mn-ht-1080{min-height: 1080px !important}
.sdm-mn-ht-1085{min-height: 1085px !important}
.sdm-mn-ht-1090{min-height: 1090px !important}
.sdm-mn-ht-1095{min-height: 1095px !important}
.sdm-mn-ht-1100{min-height: 1100px !important}
.sdm-mn-ht-1105{min-height: 1105px !important}
.sdm-mn-ht-1110{min-height: 1110px !important}
.sdm-mn-ht-1115{min-height: 1115px !important}
.sdm-mn-ht-1120{min-height: 1120px !important}
.sdm-mn-ht-1125{min-height: 1125px !important}
.sdm-mn-ht-1130{min-height: 1130px !important}
.sdm-mn-ht-1135{min-height: 1135px !important}
.sdm-mn-ht-1140{min-height: 1140px !important}
.sdm-mn-ht-1145{min-height: 1145px !important}
.sdm-mn-ht-1150{min-height: 1150px !important}
.sdm-mn-ht-1155{min-height: 1155px !important}
.sdm-mn-ht-1160{min-height: 1160px !important}
.sdm-mn-ht-1165{min-height: 1165px !important}
.sdm-mn-ht-1170{min-height: 1170px !important}
.sdm-mn-ht-1175{min-height: 1175px !important}
.sdm-mn-ht-1180{min-height: 1180px !important}
.sdm-mn-ht-1185{min-height: 1185px !important}
.sdm-mn-ht-1190{min-height: 1190px !important}
.sdm-mn-ht-1195{min-height: 1195px !important}
.sdm-mn-ht-1200{min-height: 1200px !important}

/* Maximun Height */
.sdm-mx-ht-a {max-height: auto;}
.sdm-mx-ht-p10{max-height: 10%;}
.sdm-mx-ht-p20{max-height: 20%;}
.sdm-mx-ht-p30{max-height: 30%;}
.sdm-mx-ht-p40{max-height: 40%;}
.sdm-mx-ht-p50{max-height: 50%;}
.sdm-mx-ht-p60{max-height: 60%;}
.sdm-mx-ht-p70{max-height: 70%;}
.sdm-mx-ht-p80{max-height: 80%;}
.sdm-mx-ht-p90{max-height: 90%;}
.sdm-mx-ht-p100{max-height: 100%;}
.sdm-mx-ht-50{max-height: 50px !important}
.sdm-mx-ht-55{max-height: 55px !important}
.sdm-mx-ht-60{max-height: 60px !important}
.sdm-mx-ht-65{max-height: 65px !important}
.sdm-mx-ht-70{max-height: 70px !important}
.sdm-mx-ht-75{max-height: 75px !important}
.sdm-mx-ht-80{max-height: 80px !important}
.sdm-mx-ht-85{max-height: 85px !important}
.sdm-mx-ht-90{max-height: 90px !important}
.sdm-mx-ht-95{max-height: 95px !important}
.sdm-mx-ht-100{max-height: 100px !important}
.sdm-mx-ht-105{max-height: 105px !important}
.sdm-mx-ht-110{max-height: 110px !important}
.sdm-mx-ht-115{max-height: 115px !important}
.sdm-mx-ht-120{max-height: 120px !important}
.sdm-mx-ht-125{max-height: 125px !important}
.sdm-mx-ht-130{max-height: 130px !important}
.sdm-mx-ht-135{max-height: 135px !important}
.sdm-mx-ht-140{max-height: 140px !important}
.sdm-mx-ht-145{max-height: 145px !important}
.sdm-mx-ht-150{max-height: 150px !important}
.sdm-mx-ht-155{max-height: 155px !important}
.sdm-mx-ht-160{max-height: 160px !important}
.sdm-mx-ht-165{max-height: 165px !important}
.sdm-mx-ht-170{max-height: 170px !important}
.sdm-mx-ht-175{max-height: 175px !important}
.sdm-mx-ht-180{max-height: 180px !important}
.sdm-mx-ht-185{max-height: 185px !important}
.sdm-mx-ht-190{max-height: 190px !important}
.sdm-mx-ht-195{max-height: 195px !important}
.sdm-mx-ht-200{max-height: 200px !important}
.sdm-mx-ht-205{max-height: 205px !important}
.sdm-mx-ht-210{max-height: 210px !important}
.sdm-mx-ht-215{max-height: 215px !important}
.sdm-mx-ht-220{max-height: 220px !important}
.sdm-mx-ht-225{max-height: 225px !important}
.sdm-mx-ht-230{max-height: 230px !important}
.sdm-mx-ht-235{max-height: 235px !important}
.sdm-mx-ht-240{max-height: 240px !important}
.sdm-mx-ht-245{max-height: 245px !important}
.sdm-mx-ht-250{max-height: 250px !important}
.sdm-mx-ht-255{max-height: 255px !important}
.sdm-mx-ht-260{max-height: 260px !important}
.sdm-mx-ht-265{max-height: 265px !important}
.sdm-mx-ht-270{max-height: 270px !important}
.sdm-mx-ht-275{max-height: 275px !important}
.sdm-mx-ht-280{max-height: 280px !important}
.sdm-mx-ht-285{max-height: 285px !important}
.sdm-mx-ht-290{max-height: 290px !important}
.sdm-mx-ht-295{max-height: 295px !important}
.sdm-mx-ht-300{max-height: 300px !important}
.sdm-mx-ht-305{max-height: 305px !important}
.sdm-mx-ht-310{max-height: 310px !important}
.sdm-mx-ht-315{max-height: 315px !important}
.sdm-mx-ht-320{max-height: 320px !important}
.sdm-mx-ht-325{max-height: 325px !important}
.sdm-mx-ht-330{max-height: 330px !important}
.sdm-mx-ht-335{max-height: 335px !important}
.sdm-mx-ht-340{max-height: 340px !important}
.sdm-mx-ht-345{max-height: 345px !important}
.sdm-mx-ht-350{max-height: 350px !important}
.sdm-mx-ht-355{max-height: 355px !important}
.sdm-mx-ht-360{max-height: 360px !important}
.sdm-mx-ht-365{max-height: 365px !important}
.sdm-mx-ht-370{max-height: 370px !important}
.sdm-mx-ht-375{max-height: 375px !important}
.sdm-mx-ht-380{max-height: 380px !important}
.sdm-mx-ht-385{max-height: 385px !important}
.sdm-mx-ht-390{max-height: 390px !important}
.sdm-mx-ht-395{max-height: 395px !important}
.sdm-mx-ht-400{max-height: 400px !important}
.sdm-mx-ht-405{max-height: 405px !important}
.sdm-mx-ht-410{max-height: 410px !important}
.sdm-mx-ht-415{max-height: 415px !important}
.sdm-mx-ht-420{max-height: 420px !important}
.sdm-mx-ht-425{max-height: 425px !important}
.sdm-mx-ht-430{max-height: 430px !important}
.sdm-mx-ht-435{max-height: 435px !important}
.sdm-mx-ht-440{max-height: 440px !important}
.sdm-mx-ht-445{max-height: 445px !important}
.sdm-mx-ht-450{max-height: 450px !important}
.sdm-mx-ht-455{max-height: 455px !important}
.sdm-mx-ht-460{max-height: 460px !important}
.sdm-mx-ht-465{max-height: 465px !important}
.sdm-mx-ht-470{max-height: 470px !important}
.sdm-mx-ht-475{max-height: 475px !important}
.sdm-mx-ht-480{max-height: 480px !important}
.sdm-mx-ht-485{max-height: 485px !important}
.sdm-mx-ht-490{max-height: 490px !important}
.sdm-mx-ht-495{max-height: 495px !important}
.sdm-mx-ht-500{max-height: 500px !important}
.sdm-mx-ht-505{max-height: 505px !important}
.sdm-mx-ht-510{max-height: 510px !important}
.sdm-mx-ht-515{max-height: 515px !important}
.sdm-mx-ht-520{max-height: 520px !important}
.sdm-mx-ht-525{max-height: 525px !important}
.sdm-mx-ht-530{max-height: 530px !important}
.sdm-mx-ht-535{max-height: 535px !important}
.sdm-mx-ht-540{max-height: 540px !important}
.sdm-mx-ht-545{max-height: 545px !important}
.sdm-mx-ht-550{max-height: 550px !important}
.sdm-mx-ht-555{max-height: 555px !important}
.sdm-mx-ht-560{max-height: 560px !important}
.sdm-mx-ht-565{max-height: 565px !important}
.sdm-mx-ht-570{max-height: 570px !important}
.sdm-mx-ht-575{max-height: 575px !important}
.sdm-mx-ht-580{max-height: 580px !important}
.sdm-mx-ht-585{max-height: 585px !important}
.sdm-mx-ht-590{max-height: 590px !important}
.sdm-mx-ht-595{max-height: 595px !important}
.sdm-mx-ht-600{max-height: 600px !important}
.sdm-mx-ht-605{max-height: 605px !important}
.sdm-mx-ht-610{max-height: 610px !important}
.sdm-mx-ht-615{max-height: 615px !important}
.sdm-mx-ht-620{max-height: 620px !important}
.sdm-mx-ht-625{max-height: 625px !important}
.sdm-mx-ht-630{max-height: 630px !important}
.sdm-mx-ht-635{max-height: 635px !important}
.sdm-mx-ht-640{max-height: 640px !important}
.sdm-mx-ht-645{max-height: 645px !important}
.sdm-mx-ht-650{max-height: 650px !important}
.sdm-mx-ht-655{max-height: 655px !important}
.sdm-mx-ht-660{max-height: 660px !important}
.sdm-mx-ht-665{max-height: 665px !important}
.sdm-mx-ht-670{max-height: 670px !important}
.sdm-mx-ht-675{max-height: 675px !important}
.sdm-mx-ht-680{max-height: 680px !important}
.sdm-mx-ht-685{max-height: 685px !important}
.sdm-mx-ht-690{max-height: 690px !important}
.sdm-mx-ht-695{max-height: 695px !important}
.sdm-mx-ht-700{max-height: 700px !important}
.sdm-mx-ht-705{max-height: 705px !important}
.sdm-mx-ht-710{max-height: 710px !important}
.sdm-mx-ht-715{max-height: 715px !important}
.sdm-mx-ht-720{max-height: 720px !important}
.sdm-mx-ht-725{max-height: 725px !important}
.sdm-mx-ht-730{max-height: 730px !important}
.sdm-mx-ht-735{max-height: 735px !important}
.sdm-mx-ht-740{max-height: 740px !important}
.sdm-mx-ht-745{max-height: 745px !important}
.sdm-mx-ht-750{max-height: 750px !important}
.sdm-mx-ht-755{max-height: 755px !important}
.sdm-mx-ht-760{max-height: 760px !important}
.sdm-mx-ht-765{max-height: 765px !important}
.sdm-mx-ht-770{max-height: 770px !important}
.sdm-mx-ht-775{max-height: 775px !important}
.sdm-mx-ht-780{max-height: 780px !important}
.sdm-mx-ht-785{max-height: 785px !important}
.sdm-mx-ht-790{max-height: 790px !important}
.sdm-mx-ht-795{max-height: 795px !important}
.sdm-mx-ht-800{max-height: 800px !important}
.sdm-mx-ht-805{max-height: 805px !important}
.sdm-mx-ht-810{max-height: 810px !important}
.sdm-mx-ht-815{max-height: 815px !important}
.sdm-mx-ht-820{max-height: 820px !important}
.sdm-mx-ht-825{max-height: 825px !important}
.sdm-mx-ht-830{max-height: 830px !important}
.sdm-mx-ht-835{max-height: 835px !important}
.sdm-mx-ht-840{max-height: 840px !important}
.sdm-mx-ht-845{max-height: 845px !important}
.sdm-mx-ht-850{max-height: 850px !important}
.sdm-mx-ht-855{max-height: 855px !important}
.sdm-mx-ht-860{max-height: 860px !important}
.sdm-mx-ht-865{max-height: 865px !important}
.sdm-mx-ht-870{max-height: 870px !important}
.sdm-mx-ht-875{max-height: 875px !important}
.sdm-mx-ht-880{max-height: 880px !important}
.sdm-mx-ht-885{max-height: 885px !important}
.sdm-mx-ht-890{max-height: 890px !important}
.sdm-mx-ht-895{max-height: 895px !important}
.sdm-mx-ht-900{max-height: 900px !important}
.sdm-mx-ht-905{max-height: 905px !important}
.sdm-mx-ht-910{max-height: 910px !important}
.sdm-mx-ht-915{max-height: 915px !important}
.sdm-mx-ht-920{max-height: 920px !important}
.sdm-mx-ht-925{max-height: 925px !important}
.sdm-mx-ht-930{max-height: 930px !important}
.sdm-mx-ht-935{max-height: 935px !important}
.sdm-mx-ht-940{max-height: 940px !important}
.sdm-mx-ht-945{max-height: 945px !important}
.sdm-mx-ht-950{max-height: 950px !important}
.sdm-mx-ht-955{max-height: 955px !important}
.sdm-mx-ht-960{max-height: 960px !important}
.sdm-mx-ht-965{max-height: 965px !important}
.sdm-mx-ht-970{max-height: 970px !important}
.sdm-mx-ht-975{max-height: 975px !important}
.sdm-mx-ht-980{max-height: 980px !important}
.sdm-mx-ht-985{max-height: 985px !important}
.sdm-mx-ht-990{max-height: 990px !important}
.sdm-mx-ht-995{max-height: 995px !important}
.sdm-mx-ht-1000{max-height: 1000px !important}
.sdm-mx-ht-1005{max-height: 1005px !important}
.sdm-mx-ht-1010{max-height: 1010px !important}
.sdm-mx-ht-1015{max-height: 1015px !important}
.sdm-mx-ht-1020{max-height: 1020px !important}
.sdm-mx-ht-1025{max-height: 1025px !important}
.sdm-mx-ht-1030{max-height: 1030px !important}
.sdm-mx-ht-1035{max-height: 1035px !important}
.sdm-mx-ht-1040{max-height: 1040px !important}
.sdm-mx-ht-1045{max-height: 1045px !important}
.sdm-mx-ht-1050{max-height: 1050px !important}
.sdm-mx-ht-1055{max-height: 1055px !important}
.sdm-mx-ht-1060{max-height: 1060px !important}
.sdm-mx-ht-1065{max-height: 1065px !important}
.sdm-mx-ht-1070{max-height: 1070px !important}
.sdm-mx-ht-1075{max-height: 1075px !important}
.sdm-mx-ht-1080{max-height: 1080px !important}
.sdm-mx-ht-1085{max-height: 1085px !important}
.sdm-mx-ht-1090{max-height: 1090px !important}
.sdm-mx-ht-1095{max-height: 1095px !important}
.sdm-mx-ht-1100{max-height: 1100px !important}
.sdm-mx-ht-1105{max-height: 1105px !important}
.sdm-mx-ht-1110{max-height: 1110px !important}
.sdm-mx-ht-1115{max-height: 1115px !important}
.sdm-mx-ht-1120{max-height: 1120px !important}
.sdm-mx-ht-1125{max-height: 1125px !important}
.sdm-mx-ht-1130{max-height: 1130px !important}
.sdm-mx-ht-1135{max-height: 1135px !important}
.sdm-mx-ht-1140{max-height: 1140px !important}
.sdm-mx-ht-1145{max-height: 1145px !important}
.sdm-mx-ht-1150{max-height: 1150px !important}
.sdm-mx-ht-1155{max-height: 1155px !important}
.sdm-mx-ht-1160{max-height: 1160px !important}
.sdm-mx-ht-1165{max-height: 1165px !important}
.sdm-mx-ht-1170{max-height: 1170px !important}
.sdm-mx-ht-1175{max-height: 1175px !important}
.sdm-mx-ht-1180{max-height: 1180px !important}
.sdm-mx-ht-1185{max-height: 1185px !important}
.sdm-mx-ht-1190{max-height: 1190px !important}
.sdm-mx-ht-1195{max-height: 1195px !important}
.sdm-mx-ht-1200{max-height: 1200px !important}

/* Width */
.sdm-wh-a {width: auto;}
.sdm-wh-p10{width: 10%;}
.sdm-wh-p20{width: 20%;}
.sdm-wh-p30{width: 30%;}
.sdm-wh-p40{width: 40%;}
.sdm-wh-p50{width: 50%;}
.sdm-wh-p60{width: 60%;}
.sdm-wh-p70{width: 70%;}
.sdm-wh-p80{width: 80%;}
.sdm-wh-p90{width: 90%;}
.sdm-wh-p100{width: 100%;}
.sdm-wh-50{width: 50px !important}
.sdm-wh-55{width: 55px !important}
.sdm-wh-60{width: 60px !important}
.sdm-wh-65{width: 65px !important}
.sdm-wh-70{width: 70px !important}
.sdm-wh-75{width: 75px !important}
.sdm-wh-80{width: 80px !important}
.sdm-wh-85{width: 85px !important}
.sdm-wh-90{width: 90px !important}
.sdm-wh-95{width: 95px !important}
.sdm-wh-100{width: 100px !important}
.sdm-wh-105{width: 105px !important}
.sdm-wh-110{width: 110px !important}
.sdm-wh-115{width: 115px !important}
.sdm-wh-120{width: 120px !important}
.sdm-wh-125{width: 125px !important}
.sdm-wh-130{width: 130px !important}
.sdm-wh-135{width: 135px !important}
.sdm-wh-140{width: 140px !important}
.sdm-wh-145{width: 145px !important}
.sdm-wh-150{width: 150px !important}
.sdm-wh-155{width: 155px !important}
.sdm-wh-160{width: 160px !important}
.sdm-wh-165{width: 165px !important}
.sdm-wh-170{width: 170px !important}
.sdm-wh-175{width: 175px !important}
.sdm-wh-180{width: 180px !important}
.sdm-wh-185{width: 185px !important}
.sdm-wh-190{width: 190px !important}
.sdm-wh-195{width: 195px !important}
.sdm-wh-200{width: 200px !important}
.sdm-wh-205{width: 205px !important}
.sdm-wh-210{width: 210px !important}
.sdm-wh-215{width: 215px !important}
.sdm-wh-220{width: 220px !important}
.sdm-wh-225{width: 225px !important}
.sdm-wh-230{width: 230px !important}
.sdm-wh-235{width: 235px !important}
.sdm-wh-240{width: 240px !important}
.sdm-wh-245{width: 245px !important}
.sdm-wh-250{width: 250px !important}
.sdm-wh-255{width: 255px !important}
.sdm-wh-260{width: 260px !important}
.sdm-wh-265{width: 265px !important}
.sdm-wh-270{width: 270px !important}
.sdm-wh-275{width: 275px !important}
.sdm-wh-280{width: 280px !important}
.sdm-wh-285{width: 285px !important}
.sdm-wh-290{width: 290px !important}
.sdm-wh-295{width: 295px !important}
.sdm-wh-300{width: 300px !important}
.sdm-wh-305{width: 305px !important}
.sdm-wh-310{width: 310px !important}
.sdm-wh-315{width: 315px !important}
.sdm-wh-320{width: 320px !important}
.sdm-wh-325{width: 325px !important}
.sdm-wh-330{width: 330px !important}
.sdm-wh-335{width: 335px !important}
.sdm-wh-340{width: 340px !important}
.sdm-wh-345{width: 345px !important}
.sdm-wh-350{width: 350px !important}
.sdm-wh-355{width: 355px !important}

/* Minimun Width */
.sdm-mn-wh-a {min-width: auto;}
.sdm-mn-wh-p10{min-width: 10%;}
.sdm-mn-wh-p20{min-width: 20%;}
.sdm-mn-wh-p30{min-width: 30%;}
.sdm-mn-wh-p40{min-width: 40%;}
.sdm-mn-wh-p50{min-width: 50%;}
.sdm-mn-wh-p60{min-width: 60%;}
.sdm-mn-wh-p70{min-width: 70%;}
.sdm-mn-wh-p80{min-width: 80%;}
.sdm-mn-wh-p90{min-width: 90%;}
.sdm-mn-wh-p100{min-width: 100%;}
.sdm-mn-wh-50{min-width: 50px !important}
.sdm-mn-wh-55{min-width: 55px !important}
.sdm-mn-wh-60{min-width: 60px !important}
.sdm-mn-wh-65{min-width: 65px !important}
.sdm-mn-wh-70{min-width: 70px !important}
.sdm-mn-wh-75{min-width: 75px !important}
.sdm-mn-wh-80{min-width: 80px !important}
.sdm-mn-wh-85{min-width: 85px !important}
.sdm-mn-wh-90{min-width: 90px !important}
.sdm-mn-wh-95{min-width: 95px !important}
.sdm-mn-wh-100{min-width: 100px !important}
.sdm-mn-wh-105{min-width: 105px !important}
.sdm-mn-wh-110{min-width: 110px !important}
.sdm-mn-wh-115{min-width: 115px !important}
.sdm-mn-wh-120{min-width: 120px !important}
.sdm-mn-wh-125{min-width: 125px !important}
.sdm-mn-wh-130{min-width: 130px !important}
.sdm-mn-wh-135{min-width: 135px !important}
.sdm-mn-wh-140{min-width: 140px !important}
.sdm-mn-wh-145{min-width: 145px !important}
.sdm-mn-wh-150{min-width: 150px !important}
.sdm-mn-wh-155{min-width: 155px !important}
.sdm-mn-wh-160{min-width: 160px !important}
.sdm-mn-wh-165{min-width: 165px !important}
.sdm-mn-wh-170{min-width: 170px !important}
.sdm-mn-wh-175{min-width: 175px !important}
.sdm-mn-wh-180{min-width: 180px !important}
.sdm-mn-wh-185{min-width: 185px !important}
.sdm-mn-wh-190{min-width: 190px !important}
.sdm-mn-wh-195{min-width: 195px !important}
.sdm-mn-wh-200{min-width: 200px !important}
.sdm-mn-wh-205{min-width: 205px !important}
.sdm-mn-wh-210{min-width: 210px !important}
.sdm-mn-wh-215{min-width: 215px !important}
.sdm-mn-wh-220{min-width: 220px !important}
.sdm-mn-wh-225{min-width: 225px !important}
.sdm-mn-wh-230{min-width: 230px !important}
.sdm-mn-wh-235{min-width: 235px !important}
.sdm-mn-wh-240{min-width: 240px !important}
.sdm-mn-wh-245{min-width: 245px !important}
.sdm-mn-wh-250{min-width: 250px !important}
.sdm-mn-wh-255{min-width: 255px !important}
.sdm-mn-wh-260{min-width: 260px !important}
.sdm-mn-wh-265{min-width: 265px !important}
.sdm-mn-wh-270{min-width: 270px !important}
.sdm-mn-wh-275{min-width: 275px !important}
.sdm-mn-wh-280{min-width: 280px !important}
.sdm-mn-wh-285{min-width: 285px !important}
.sdm-mn-wh-290{min-width: 290px !important}
.sdm-mn-wh-295{min-width: 295px !important}
.sdm-mn-wh-300{min-width: 300px !important}
.sdm-mn-wh-305{min-width: 305px !important}
.sdm-mn-wh-310{min-width: 310px !important}
.sdm-mn-wh-315{min-width: 315px !important}
.sdm-mn-wh-320{min-width: 320px !important}
.sdm-mn-wh-325{min-width: 325px !important}
.sdm-mn-wh-330{min-width: 330px !important}
.sdm-mn-wh-335{min-width: 335px !important}
.sdm-mn-wh-340{min-width: 340px !important}
.sdm-mn-wh-345{min-width: 345px !important}
.sdm-mn-wh-350{min-width: 350px !important}
.sdm-mn-wh-355{min-width: 355px !important}

/* Maximun Width */
.sdm-mx-wh-a {max-width: auto;}
.sdm-mx-wh-p10{max-width: 10%;}
.sdm-mx-wh-p20{max-width: 20%;}
.sdm-mx-wh-p30{max-width: 30%;}
.sdm-mx-wh-p40{max-width: 40%;}
.sdm-mx-wh-p50{max-width: 50%;}
.sdm-mx-wh-p60{max-width: 60%;}
.sdm-mx-wh-p70{max-width: 70%;}
.sdm-mx-wh-p80{max-width: 80%;}
.sdm-mx-wh-p90{max-width: 90%;}
.sdm-mx-wh-p100{max-width: 100%;}
.sdm-mx-wh-50{max-width: 50px !important}
.sdm-mx-wh-55{max-width: 55px !important}
.sdm-mx-wh-60{max-width: 60px !important}
.sdm-mx-wh-65{max-width: 65px !important}
.sdm-mx-wh-70{max-width: 70px !important}
.sdm-mx-wh-75{max-width: 75px !important}
.sdm-mx-wh-80{max-width: 80px !important}
.sdm-mx-wh-85{max-width: 85px !important}
.sdm-mx-wh-90{max-width: 90px !important}
.sdm-mx-wh-95{max-width: 95px !important}
.sdm-mx-wh-100{max-width: 100px !important}
.sdm-mx-wh-105{max-width: 105px !important}
.sdm-mx-wh-110{max-width: 110px !important}
.sdm-mx-wh-115{max-width: 115px !important}
.sdm-mx-wh-120{max-width: 120px !important}
.sdm-mx-wh-125{max-width: 125px !important}
.sdm-mx-wh-130{max-width: 130px !important}
.sdm-mx-wh-135{max-width: 135px !important}
.sdm-mx-wh-140{max-width: 140px !important}
.sdm-mx-wh-145{max-width: 145px !important}
.sdm-mx-wh-150{max-width: 150px !important}
.sdm-mx-wh-155{max-width: 155px !important}
.sdm-mx-wh-160{max-width: 160px !important}
.sdm-mx-wh-165{max-width: 165px !important}
.sdm-mx-wh-170{max-width: 170px !important}
.sdm-mx-wh-175{max-width: 175px !important}
.sdm-mx-wh-180{max-width: 180px !important}
.sdm-mx-wh-185{max-width: 185px !important}
.sdm-mx-wh-190{max-width: 190px !important}
.sdm-mx-wh-195{max-width: 195px !important}
.sdm-mx-wh-200{max-width: 200px !important}
.sdm-mx-wh-205{max-width: 205px !important}
.sdm-mx-wh-210{max-width: 210px !important}
.sdm-mx-wh-215{max-width: 215px !important}
.sdm-mx-wh-220{max-width: 220px !important}
.sdm-mx-wh-225{max-width: 225px !important}
.sdm-mx-wh-230{max-width: 230px !important}
.sdm-mx-wh-235{max-width: 235px !important}
.sdm-mx-wh-240{max-width: 240px !important}
.sdm-mx-wh-245{max-width: 245px !important}
.sdm-mx-wh-250{max-width: 250px !important}
.sdm-mx-wh-255{max-width: 255px !important}
.sdm-mx-wh-260{max-width: 260px !important}
.sdm-mx-wh-265{max-width: 265px !important}
.sdm-mx-wh-270{max-width: 270px !important}
.sdm-mx-wh-275{max-width: 275px !important}
.sdm-mx-wh-280{max-width: 280px !important}
.sdm-mx-wh-285{max-width: 285px !important}
.sdm-mx-wh-290{max-width: 290px !important}
.sdm-mx-wh-295{max-width: 295px !important}
.sdm-mx-wh-300{max-width: 300px !important}
.sdm-mx-wh-305{max-width: 305px !important}
.sdm-mx-wh-310{max-width: 310px !important}
.sdm-mx-wh-315{max-width: 315px !important}
.sdm-mx-wh-320{max-width: 320px !important}
.sdm-mx-wh-325{max-width: 325px !important}
.sdm-mx-wh-330{max-width: 330px !important}
.sdm-mx-wh-335{max-width: 335px !important}
.sdm-mx-wh-340{max-width: 340px !important}
.sdm-mx-wh-345{max-width: 345px !important}
.sdm-mx-wh-350{max-width: 350px !important}
.sdm-mx-wh-355{max-width: 355px !important}
}